#bgpicture{
  background-image: url("../img/bg.jpg");
}

h1, h3{
  color: white;
}

p{
  color: white;
  font-size: 130%;
}

input[type=text], [type=number] {
  width: 40%;
  padding: 10px 10px;
  margin: 10px 10px;
  font-size: 100%;
  box-sizing: border-box;
}

input[type=button] {
  display: inline-block;
  padding: 15px 32px;
  margin: 15px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #7F1917;
  background-color: #CBFFFA;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}


input[type="button"]:hover {
	background: #FFCCCB;
}

.box {
  background-color: #F11FE4;
  border-style: solid;
  font-weight: bold;
  border: 50px;
  font-family: "Times New Roman", Georgia, Serif;
  font-size: 150%;
  height:400px;
  margin:30px 10px;
  padding:20px 10px;
  width:400px;
}

.sec_box{
  color: white;
  padding:15px;
  font-family: "Times New Roman", Georgia, Serif;
  font-size: 110%;
  text-align: center;
}
